<!-- Panel Top 01 (#0) -->
<nav class="panel top padding-top-2 padding-bottom-2" data-name="navigation">
    <div class="fix-12-12">
        <div class="sections desktop">
            <div class="left">
                <a href="#" title="Slides Framework">
                    <svg class="noFill middle" width="30" height="30" fill="#FBFBFB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                    <p class="app-logo crop margin-left-1 inlineBlock middle bold">App Name</p>
                </a>
            </div>
            <div class="center">
                <ul class="menu flex uppercase font-size-14 bold app-panel-top-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="right"><a class="bold uppercase font-size-14" href="#">Get an account</a></div>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg class="noFill middle" width="30" height="30" fill="#FBFBFB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="app-logo crop margin-left-1 inlineBlock middle bold">App Name</p>
            </a>
        </div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg class="shift-up-1"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
</nav>

