include ../includes/head

include ../includes/navbar
include ../includes/sidebar

<!-- Slide screen (#1) -->
include ../layouts/slide_1
<!-- Slide screen (#2) -->
include ../layouts/slide_2
<!-- Slide screen (#3) -->
include ../layouts/slide_3
<!-- Slide screen (#4) -->
include ../layouts/slide_4
<!-- Slide screen (#5) -->
include ../layouts/slide_5
<!-- Slide screen (#6) -->
include ../layouts/slide_6
<!-- Slide screen (#7) -->
include ../layouts/slide_7
<!-- Slide screen (#8) -->
include ../layouts/slide_8



script
    include ../scripts/console.js

include ../includes/footer

