<!-- Feature (#3) -->
<section class="slide fade-2">
<div class="content">
<div class="container">
<div class="padding-bottom-0 wrap">
<div class="fix-9-12">
<p class="margin-bottom-1 uppercase bold font-size-14 ae-1"><span class="opacity-5">More photos</span></p>
<h1 class="margin-bottom-2 smaller ae-2">It?s Your Field to&nbsp;Present&nbsp;Product</h1>
<div class="fix-6-12">
<p class="margin-bottom-2 large ae-3">Make a gallery here of your app?s&nbsp;screenshots. Choose&nbsp;only&nbsp;catchy ones to interest potential&nbsp;users.</p>
</div>
<a href="#" class="crop button green smallShadow ae-4">Learn&nbsp;more</a>
<img srcset="assets/img/template/app-img-2.png 2x" src="assets/img/template/app-img-2.png" alt="Phone picture" class="margin-top-10 img-128 fromBottom ae-5" data-action="zoom"/>
</div>
</div>
</div>
</div>
<div class="background" style="background-image:url(assets/img/template/background/app-img-2.jpg)"></div>
</section>