<!-- General features (#2) -->
<section class="slide kenBurns whiteSlide">
<div class="content">
<div class="container">
<div class="wrap">
<div class="fix-6-12 toCenter">
<p class="margin-bottom-1 uppercase bold font-size-14 text-gray ae-1">Key specifics</p>
<h1 class="margin-bottom-2 smaller ae-2">General Features.</h1>
<p class="margin-bottom-5 large ae-3"><span class="opacity-8">Let people discover your app, before they use it.<br>Tell&nbsp;about your strong sides and why your app?s the&nbsp;best.</span></p>
</div>
<div class="fix-11-12">
<ul class="flex flex-48 later equal">
<li class="margin-bottom-5 col-4-12">
<div class="fix-3-12 ae-4 app-2-hover">
<i class="cropTop material-icons fromCenter"><svg class="noFill" width="54" height="60" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#fingerprint"></use></svg></i>
<h4 class="small margin-bottom-1 weight-7 equalElement">Protection</h4>
<div><p class="crop opacity-8">Modern apps shoud provide good personal data protection.</p></div>
</div>
</li>
<li class="margin-bottom-5 col-4-12">
<div class="fix-3-12 ae-5 app-2-hover">
<i class="cropTop material-icons fromCenter"><svg class="noFill" width="60" height="54" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#file_manager"></use></svg></i>
<h4 class="small margin-bottom-1 weight-7 equalElement">File Manager</h4>
<div><p class="crop opacity-8">Move your files between folders across your project.</p></div>
</div>
</li>
<li class="margin-bottom-5 col-4-12">
<div class="fix-3-12 ae-6 app-2-hover">
<i class="cropTop material-icons fromCenter"><svg class="noFill" width="51" height="60" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#notifications"></use></svg></i>
<h4 class="small margin-bottom-1 weight-7 equalElement">Notifications</h4>
<div><p class="crop opacity-8">Don?t miss important messages with&nbsp;Notifications.</p></div>
</div>
</li>
<li class="margin-bottom-5 col-4-12">
<div class="fix-3-12 ae-4 app-2-hover">
<i class="cropTop material-icons fromCenter">
<svg class="noFill" width="60" height="59" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#video_calls"></use></svg>
</i>
<h4 class="small margin-bottom-1 weight-7 equalElement">Video Calls</h4>
<div><p class="crop opacity-8">Your app supports video calls directly from threads.</p></div>
</div>
</li>
<li class="margin-bottom-5 col-4-12">
<div class="fix-3-12 ae-5 app-2-hover">
<i class="cropTop material-icons fromCenter"><svg class="noFill" width="54" height="54" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#user_experience"></use></svg></i>
<h4 class="small margin-bottom-1 weight-7 equalElement">User Experience</h4>
<div><p class="crop opacity-8">Outstanding experience in usage. Also available in dark and light.</p></div>
</div>
</li>
<li class="col-4-12">
<div class="fix-3-12 ae-6 app-2-hover">
<i class="cropTop material-icons fromCenter"><svg class="noFill" width="54" height="54" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#geo_location"></use></svg></i>
<h4 class="small margin-bottom-1 weight-7 equalElement">Geo Location</h4>
<div><p class="crop opacity-8">Your kids are always under control.&nbsp;Available for free.</p></div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</section>