<!-- Testimonial (#6) -->
<section class="slide whiteSlide">
<div class="content">
<div class="container">
<div class="wrap">
<div class="fix-12-12">
<p class="margin-bottom-1 uppercase bold font-size-14 text-gray ae-1">Happy users</p>
<h1 class="margin-bottom-2 smaller ae-1">What They&nbsp;Say</h1>
<div class="fix-8-12">
<p class="margin-bottom-6 large opacity-8 ae-2">Your app is the best product potential users will ever use.<br>Select reviews, that describe better your&nbsp;app.</p>
</div>
<ul class="flex noSpaces">
<li class="col-1-12 col-tablet-1-1"></li>
<li class="margin-bottom-5 col-4-12 col-tablet-1-2 col-phablet-1-1 toLeft fromLeft ae-3">
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<h4 class="margin-top-1 margin-bottom-2 small weight-7">Amazing&nbsp;app!</h4>
<p class="margin-bottom-2 opacity-8">I love this app - the functionality and look and feel are second to none! One of my top 5&nbsp;apps on my phone! So glad I found&nbsp;it.</p>
<p class="crop small text-gray">by Mahmud12323, App&nbsp;Store</p>
</li>
<li class="margin-bottom-6 toRight col-4-12 col-tablet-1-2 col-phablet-1-1 fromRight ae-4">
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<h4 class="margin-top-1 margin-bottom-2 small weight-7">Simple and&nbsp;effective.</h4>
<p class="margin-bottom-2 opacity-8">Well, I couldn?t find anything like this app. Amazing and simple user experience, looking forward on new&nbsp;updates!</p>
<p class="crop small text-gray">by ValeriaHolls, Play&nbsp;Market</p>
</li>
<li class="margin-left-0 toRight col-1-12 col-tablet-1-1"></li>
</ul>
<ul class="flex">
<li class="col-1-12 col-tablet-1-1"></li>
<li class="margin-bottom-phablet-6 col-4-12 col-tablet-1-2 col-phablet-1-1 fromLeft ae-5">
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<h4 class="margin-top-1 margin-bottom-2 small weight-7">This app is just&nbsp;priceless.</h4>
<p class="margin-bottom-2 opacity-8">Thank you developers for making my life that easy, just can?t live without your product. Cool work, take a high&nbsp;five!</p>
<p class="crop small text-gray">by 12348293, App&nbsp;Store</p>
</li>
<li class="toRight col-4-12 col-tablet-1-2 col-phablet-1-1 fromRight ae-6">
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#FFC107"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<svg class="noFill app-star" width="16" height="15" fill="#BBBBBB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#star"></use></svg>
<h4 class="margin-top-1 margin-bottom-2 small weight-7">Great &mdash; simple and really&nbsp;useful.</h4>
<p class="margin-bottom-2 opacity-8">Like the interface, but app can be better and I believe, that developers will fix bugs ver soon. But anyways, great&nbsp;job!</p>
<p class="crop small text-gray">by Johansonn94, App&nbsp;Store</p>
</li>
<li class="margin-left-0 toRight col-1-12 col-tablet-1-1"></li>
</ul>
</div>
</div>
</div>
</div>
</section>