<!-- Popup Video -->
<div class="popup fullscreen autoplay" data-popup-id="app-slider-popup">
    <div class="close button small white left"><svg><use href="assets/svg/icon-set.svg?p=K3pa7jkW#close"></use></svg>Close</div>
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="embedVideo popupContent">
                    <iframe src="https://player.vimeo.com/video/198116920?color=ff0179&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>