<!-- Gallery (#5) -->
<section class="slide kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-7-12">
                    <p class="margin-bottom-1 uppercase bold font-size-14 ae-1"><span class="opacity-5">Save the&nbsp;clips</span></p>
                    <h1 class="margin-bottom-1 weight-9 largest ae-2">See App in&nbsp;Action</h1>
                    <p class="margin-bottom-3 large ae-3">It?s time show a video showcase of your app&nbsp;in&nbsp;action.<br>You can choose different flows in this&nbsp;section.</p>
                </div>
                <ul class="flex fixedSpaces verticalCenter relative">
                    <li class="col-2-12 col-tablet-1-5 padding-phablet-0 cursorPointer app-slider-arrow ae-5 fromLeft" data-slider-id="app-slider" data-slider-action="prev">
                        <svg class="margin-auto block" width="18" height="30"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#left_arrow"></use></svg>
                    </li>
                    <li class="col-8-12 col-tablet-3-5 col-phablet-1-1 noSelect ae-4">
                        <ul class="fix-7-12 slider clickable" data-slider-id="app-slider">
                            <li class="selected">
                                <div class="button rounded empty videoThumbnail noShadow popupTrigger" data-popup-id="app-slider-popup">
                                    <img srcset="assets/img/template/app-img-4-1.png 2x" src="assets/img/template/app-img-4-1.png" alt="Phone picture and video" class="block wide" alt="iPhone Thumbnail"/>
                                </div>
                            </li>
                            <li><img srcset="assets/img/template/app-img-4-2.png 2x" src="assets/img/template/app-img-4-2.png" alt="Phone picture" class="block wide" alt="iPhone Thumbnail"/></li>
                            <li><img srcset="assets/img/template/app-img-4-3.png 2x" src="assets/img/template/app-img-4-3.png" alt="Phone picture" class="block wide" alt="iPhone Thumbnail"/></li>
                            <li><img srcset="assets/img/template/app-img-4-4.png 2x" src="assets/img/template/app-img-4-4.png" alt="Phone picture" class="block wide" alt="iPhone Thumbnail"/></li>
                        </ul>
                    </li>
                    <li class="col-2-12 col-tablet-1-5 padding-phablet-0 cursorPointer app-slider-arrow ae-5 fromRight" data-slider-id="app-slider" data-slider-action="next">
                        <svg class="margin-auto block" width="18" height="30"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#right_arrow"></use></svg>
                    </li>
                </ul>
                <ul class="margin-top-3 controller dots ae-6 fromBottom" data-slider-id="app-slider">
                    <li class="dot selected"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
                <div class="margin-top-3 fix-3-12">
                    <h4 class="margin-bottom-1 small ae-7 bold">How to add records</h4>
                    <p class="crop ae-8">Simply tap on one of the fields to add it to our database.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(assets/img/template/background/app-img-3.jpg)"></div>
</section>